<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <httpRuntime executionTimeout="2097150" maxRequestLength="2097151" maxUrlLength="2097151" maxQueryStringLength="2097151" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="dafault.ashx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="Content-Type, api_key, Authorization" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering >
        <requestLimits maxAllowedContentLength="2147483647" ></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
